.outerContainer {
  display: flex;
  flex-direction: column;
}

.rocketContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 12px;
}

.rocketHeading {
  font-size: 1.2rem;
  color: black;
  margin-top: -10px;
}

.rocketDescription {
  display: flex;
  align-items: baseline;
  gap: 3px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: -18px;
}

.rocketImage {
  width: 180px;
  height: 150px;
}
