.navbarMain {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 24px;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.logoContainer {
  display: flex;
  gap: 50px;
  margin-left: 15px;
  font-size: 20px;
}

.logoImage {
  width: 60px;
  height: 60px;
}

.linksMain {
  display: flex;
  gap: 10px;
}

.linksMain a {
  color: rgb(123, 135, 220);
  text-decoration: none;
}

.linksMain a.active {
  text-decoration: underline;
}

.divider {
  border-right: 2px solid gray;
  height: 24px;
  align-items: center;
}
