.navbarMain {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  gap: 50px;
  margin-left: 15px;
  font-size: 20px;
}

.logoImage {
  width: 60px;
  height: 60px;
}

.linksMain  {
  display: flex;
  gap: 10px;
  margin-right: 15px; 
}

.linksMain a {
  color: rgb(123, 135, 220);
}
