.notMemberCTA {
  color: #fff;
  background-color: grey;
  padding: 1px;
  border-radius: 4px;
  width: 140px;
}

.activeMemberCTA {
  color: #fff;
  background-color: blueviolet;
  padding: 1px;
  border-radius: 4px;
  width: 140px;
}

.leaveMissionCTA {
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  width: 140px;
  padding: 8px 3px;
}

.joinMissionCTA {
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  width: 140px;
  padding: 8px 3px;
}
